<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin page</title>
    <link rel="shortcut icon" href="/icons/springicon.png" type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="code.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>

<div class="container-fluid" >
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-dark fixed-top bg-dark" style="height: 60px">
                <div class="navbar-brand px-3" style="font-size: 25px;">
                    <b id="userEmail">@mail.ru</b>
                    <span>with roles: </span>
                    <span id="userRoles">role</span>
                </div>
                <ul class="navbar-nav px-3">
                    <form th:action="@{/logout}" method="post">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button class="btn btn-dark " style="font-size: 20px; color:lightgrey" type="submit">Logout</button>
                        </div>
                    </form>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="container-fluid" style="margin-top: 80px;">
    <div class="row">
        <div class="col-2">
            <div class="nav flex-column nav-pills" id="tab-buttons">
                <a class="nav-link active" id="admin-tab-button" data-toggle="pill" href="#admin-tab">ADMIN</a>
                <a class="nav-link" id="user-tab-button" data-toggle="pill" href="#user-tab">USER</a>
            </div>
        </div>
        <div class="col-9">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="admin-tab">
                    <h2 style="font-size: 45px;">Admin panel</h2>
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab">
                            <a class="nav-link active" id="user-table-tab" data-toggle="tab" href="#user-table">User table</a>
                            <a class="nav-link" id="new-user-tab" data-toggle="tab" href="#new-user">New User</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="user-table">
                            <div class="card">
                                <h4 class="card-header">All users</h4>
                                <div class="card-body">
                                    <table class="table table-striped">
                                        <thead style="font-size: 20px;">
                                        <tr>
                                            <th>ID</th>
                                            <th>First name</th>
                                            <th>Last name</th>
                                            <th>Age</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody id="allUsersTableBody"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade"
                             id="editUser"
                             tabindex="-1" role="dialog"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Edit user</h5>
                                        <button type="button" class="close" data-dismiss="modal">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body text-center" >
                                        <form id="editForm" method="POST">
                                            <div class="form-container" style=" max-width: 200px; margin: 0 auto">
                                                <div class="form-group">
                                                    <label for="editUserId"><b>ID</b></label>
                                                    <input type="text" class="form-control" id="editUserId" name="id" readonly/>
                                                </div>

                                                <div class="form-group">
                                                    <label for="editUserName"><b>First Name</b></label>
                                                    <input type="text" class="form-control" id="editUserName" name="name"/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="editUserLastname"><b>Last Name</b></label>
                                                    <input type="text" class="form-control" id="editUserLastname" name="lastName"/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="editUserAge"><b>Age</b></label>
                                                    <input type="number" min="0" max="150" class="form-control" id="editUserAge" name="age"/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="editUserPassword"><b>Password</b></label>
                                                    <input type="password" class="form-control" id="editUserPassword" name="password"/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="editUserEmail"><b>E-mail</b></label>
                                                    <input type="text" class="form-control" id="editUserEmail" name="email"/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="editUserRoles">Role</label>

                                                    <label for="editUserRoles"></label>
                                                    <select class="form-control text-center" size="2" multiple id="editUserRoles" name="roles" ></select>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Edit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade"
                             id="deleteUser"
                             tabindex="-1" role="dialog"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Delete user</h5>
                                        <button type="button" class="close" data-dismiss="modal">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body text-center" >
                                        <form id="deleteForm" method="DELETE">
                                            <div class="form-container" style=" max-width: 200px; margin: 0 auto">
                                                <div class="form-group">
                                                    <label for="deleteUserId"><b>ID</b></label>
                                                    <input type="text" class="form-control" id="deleteUserId" name="id" readonly/>
                                                </div>

                                                <div class="form-group">
                                                    <label for="deleteUserName"><b>First Name</b></label>
                                                    <input type="text" class="form-control" id="deleteUserName" name="name" readonly/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="deleteUserLastname"><b>Last Name</b></label>
                                                    <input type="text" class="form-control" id="deleteUserLastname" name="lastName" readonly/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="deleteUserAge"><b>Age</b></label>
                                                    <input type="number" min="0" max="150" class="form-control" id="deleteUserAge" name="age" readonly/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="deleteUserEmail"><b>Email</b></label>
                                                    <input type="text" class="form-control" id="deleteUserEmail" name="email" readonly/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="deleteUserRoles">Role</label>

                                                    <label for="deleteUserRoles"></label>
                                                    <select class="form-control text-center" size="2" multiple id="deleteUserRoles" name="roles" readonly></select>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="new-user">
                            <div class="card">
                                <h4 class="card-header">Add new user</h4>
                                <div class="card-body text-center ">
                                    <form id="newUser" method="POST">
                                        <div class="flex-column align-items-center">
                                            <div class="d-flex flex-column align-items-center">
                                                <label for="newUserName" class="font-weight-bold">First name</label>
                                                <input type="text" class="form-control col-md-3"
                                                       name="name"
                                                       id="newUserName"
                                                       placeholder="First name">
                                            </div>

                                            <div class="d-flex flex-column align-items-center mb-3">
                                                <label for="newUserLastname" class="font-weight-bold">Last name</label>
                                                <input type="text" class="form-control col-md-3"
                                                       name="lastName"
                                                       id="newUserLastname"
                                                       placeholder="Last name">
                                            </div>
                                            <div class="d-flex flex-column align-items-center mb-3">
                                                <label for="newUserAge" class="font-weight-bold">Age</label>
                                                <input type="text" class="form-control col-md-3"
                                                       name="age"
                                                       id="newUserAge"
                                                       placeholder="Age">
                                            </div>

                                            <div class="d-flex flex-column align-items-center mb-3">
                                                <label for="newUserEmail" class="font-weight-bold">E-mail</label>
                                                <input type="email" class="form-control col-md-3"
                                                       name="email"
                                                       id="newUserEmail"
                                                       placeholder="Email">
                                            </div>

                                            <div class="d-flex flex-column align-items-center mb-3">
                                                <label for="newUserPassword" class="font-weight-bold">Password</label>
                                                <input type="password" class="form-control col-md-3"
                                                       name="password"
                                                       id="newUserPassword"
                                                       placeholder="Password">
                                            </div>

                                            <div class="d-flex flex-column align-items-center mb-3">
                                                <label for="newUserRoles" class="font-weight-bold">Role</label>

                                                <label for="newUserRoles"></label>
                                                <select  size="2" multiple="multiple" class="form-control col-md-3" id="newUserRoles" name="roles">
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <button type="submit" class="btn btn-success btn-lg">Add new user</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="user-tab">
                    <h2 style="font-size: 45px;">User information-page</h2>
                    <div class="tab-pane fade show active">
                        <div class="card">
                            <h5 class="card-header">About user</h5>
                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>First name</th>
                                        <th>Last name</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                    </tr>
                                    </thead>
                                    <tbody id="userTableBody"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>



