<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<meta charset="UTF-8">
<title></title>
</head>
<body>

<h3>All users:</h3>

<table border="1">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Last name</th>
        <th scope="col">Email</th>
        <th scope="col">Login</th>
        <th scope="col">Password</th>
        <th scope="col">Delete user</th>
        <th scope="col">Update user</th>

    </tr>
    </thead>

    <tr th:each="user : ${users}"
        th:style="'font-weight: bold;'">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getLastName()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td th:text="${user.getLogin()}"></td>
        <td th:text="${user.getPassword()}"></td>
        <td>
            <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.id})}">
            <input type="submit" value="Delete">
        </form>
        </td>
        <td>
            <form th:method="PUT" th:action="@{/admin/{id}(id=${user.id})}">
                <input type="submit" value="Update">
            </form>
        </td>
    </tr>
    </tbody>
</table>
<h3></h3>
<form method="POST" th:action="@{/admin}" th:object="${user}">
    <input id="name" placeholder="Name" required type="text" th:field="*{name}">
    <input id="lastName" placeholder="Last Name" required type="text" th:field="*{lastName}">
    <input id="email" placeholder="Email" required type="text" th:field="*{email}"/>
    <input id="login" placeholder="Login" required type="text" th:field="*{login}"/>
    <input id="password" placeholder="Password" required type="text" th:field="*{password}"/>
    </div>
    <input type="submit" value="Add user">
</form>


</body>
</html>